*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    color: rgb(173, 216, 17);
    margin-bottom: 15px;
}

.container{
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(#d410c4, #f5910d, #dff70b);

}

.center-container{
    height: 150px;
    width: 500px;
    background-image: linear-gradient(#c42a0fbe, #1391e6);
    box-shadow: 1px 3px 1px 1px #d410c4;
    color: rgb(173, 216, 17);
    text-align: center;
    line-height: 80px;
    font-size: 50px;
}

.box {
    width: 25%;
    float: left;
    padding: 10px;
}

#days, #hours, #minutes, #seconds{
    width: 100%;
    height: 50px;
    background: rgb(55, 133,58);
    box-shadow: 2px 2px 1px 1px yellow;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 80;
    color: rgb(197, 248, 14);
    display: flex;
    align-items: center;
    justify-content: center;  
}

.title{
    font-size: 24px;
    text-align: center;
    padding: auto;
}
